In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
daily_stats_filepath = os.path.join('.', 'data-slovakia', 'DailyStats', 'OpenData_Slovakia_Covid_DailyStats.csv')

In [3]:
daily_stats_df = pd.read_csv(daily_stats_filepath, delimiter=';')

In [4]:
daily_stats_df.head()
#daily_stats_df.info()

,Datum,Pocet.potvrdenych.PCR.testami,Dennych.PCR.testov,Dennych.PCR.prirastkov,Pocet.umrti,AgTests,AgPosit
0,2020-03-06,1,378,1,0,NaN,NaN
1,2020-03-07,3,66,2,0,NaN,NaN
2,2020-03-08,5,76,2,0,NaN,NaN
3,2020-03-09,7,69,2,0,NaN,NaN
4,2020-03-10,7,111,0,0,NaN,NaN

In [5]:
daily_stats_df['AgTests'].fillna(0, inplace=True)
daily_stats_df['AgPosit'].fillna(0, inplace=True)
daily_stats_df['AgTests'] = daily_stats_df['AgTests'].astype(np.int64)
daily_stats_df['AgPosit'] = daily_stats_df['AgPosit'].astype(np.int64)
daily_stats_df['Day'] = daily_stats_df['Datum'].apply(lambda datum: int(datum.split('-')[-1]))
daily_stats_df['Month'] = daily_stats_df['Datum'].apply(lambda datum: int(datum.split('-')[1]))
daily_stats_df['Year'] = daily_stats_df['Datum'].apply(lambda datum: int(datum.split('-')[0]))

In [6]:
daily_stats_df['Datum']

0      2020-03-06
1      2020-03-07
2      2020-03-08
3      2020-03-09
4      2020-03-10
          ...
632    2021-11-28
633    2021-11-29
634    2021-11-30
635    2021-12-01
636    2021-12-02
Name: Datum, Length: 637, dtype: object

In [7]:
ds_df = daily_stats_df.drop(['Datum'], axis='columns')

In [8]:
ds_df.head()

,Pocet.potvrdenych.PCR.testami,Dennych.PCR.testov,Dennych.PCR.prirastkov,Pocet.umrti,AgTests,AgPosit,Day,Month,Year
0,1,378,1,0,0,0,6,3,2020
1,3,66,2,0,0,0,7,3,2020
2,5,76,2,0,0,0,8,3,2020
3,7,69,2,0,0,0,9,3,2020
4,7,111,0,0,0,0,10,3,2020

In [9]:
ds_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637 entries, 0 to 636
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Pocet.potvrdenych.PCR.testami  637 non-null    int64
 1   Dennych.PCR.testov             637 non-null    int64
 2   Dennych.PCR.prirastkov         637 non-null    int64
 3   Pocet.umrti                    637 non-null    int64
 4   AgTests                        637 non-null    int64
 5   AgPosit                        637 non-null    int64
 6   Day                            637 non-null    int64
 7   Month                          637 non-null    int64
 8   Year                           637 non-null    int64
dtypes: int64(9)
memory usage: 44.9 KB